<%= form_for(@leader) do |f| %>
  <% if @leader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leader.errors.count, "error") %> prohibited this leader from being saved:</h2>

      <ul>
      <% @leader.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


		<fieldset>
	  <div class="control-group">
			<label class="control-label" for="leader_title">Name</label>
			<div class="controls">
				<input type="text" id="leader_title" name="leader[title]" value="<%= @leader.title %>" class="input-xlarge" />
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="leader_phone">Phone Number</label>
			<div class="controls">
				<input type="text" id="leader_title" name="leader[phone]" value="<%= @leader.phone %>" class="input-xlarge" />
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="leader_address">Address</label>
			<div class="controls">
				<textarea id="leader_address" name="leader[address]" class="input-xlarge"><%= @leader.address %></textarea>
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="leader_website">Website</label>
			<div class="controls">
				<input type="text" id="leader_website" name="leader[website]" value="<%= @leader.website %>" class="input-xlarge" />
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="leader_photo">Upload a photo: </label>
			<div class="controls">
				<%= f.file_field :photo %>
			</div>
	  </div>
		</fieldset>

		<p>Already Categorized as:<br /> 
			<% if @leader.tags.count.eql? 0 %>
				None
			<% else %>
				<%= @leader.tags.map {|tag| tag.ancestry_path.join(' > ')}.join('<br />'.html_safe) %>
			<% end %>
			</p>
			<%= render 'shared/categories', :categories => @categories %>
	<br class="clear" />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
