<div class="index-list-item">
	<div class="colored-icon">
		<%= raw icon_for leader.cached_rating, 'leader' %>
		<span class="rating-string"><%= leader.rating_string %></span>
	</div>
	<div class="body">
		<h4 class="list-title-small">
			<%= link_to leader.title, leader %>
		</h4>
		<address class="addr pull-left"><%= raw leader.split_addr %></address>
		<div class="distance pull-right">
			<%= leader.phone %><br />
			<span class="list-distance"><strong>Distance</strong> <%= leader.distance.round(2) %> miles</span>
		</div>
		<br style="clear:both;" />
	</div>
	
</div>

<hr />
<%= link_to 'Destroy', leader, confirm: 'Are you sure?', method: :delete %>