<p id="notice"><%= notice %></p>

<%= raw show_header @leader %>
<%= render :partial => 'shared/show_info', :locals => {:obj => @leader, :show => [:owner, :phone, :website, :address, :hours]} %>

<%= render :partial => 'shared/rating_form', :locals => {:obj => @leader, :rating => @rating, :rating_questions => @rating_questions }%>

<div class="show-ratings span9">
	<h3>Ratings (<%= @leader.rating_string %> overall)</h2>
	<%= render :partial => 'ratings/rating', :collection => @ratings %>
</div>


