<!-- BuySellAds Zone Code -->
<div id="bsap_1275847" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
<!-- End BuySellAds Zone Code -->

<p id="notice"><%= notice %></p>

<%= raw show_header @item %>
<%= render :partial => 'shared/show_info', :locals => {:obj => @item, :show => [:phone, :website, :address]} %>

<%= render :partial => 'shared/rating_form', :locals => {:obj => @item, :rating => @rating, :rating_questions => @rating_questions}%>

<div class="show-ratings span7">
	<h3><%= @testie %>Ratings (<%= @item.rating_string %> overall)</h2>
	<%= render :partial => 'ratings/rating', :collection => @ratings %>
</div>

<% if session[:reviewalert] %>
	<% session.delete(:reviewalert) %>
	<script>
		alert("Now that you've created a Leader, don't forget to give it a review!");
	</script>
<% end %>


