<div class="comment">
	<div class="comment-meta span2">
<span class="comment-author"><strong><%= comment.user.display_name %></strong> 
	on <%= comment.updated_at.strftime("%b %d at %R%p") %></span>
	</div>
	<div class="comment-body span6">
		<%= comment.body %><br />
		<small>
		<% if comment.user.eql? current_user %>
			<%= link_to 'Delete comment.', [comment.news, comment], :method => :delete, :confirm => 'Are you sure?' %>
		<% else %> 
			<%= link_to 'Report this post.', news_comment_report_path(comment.news, comment) %>
		<% end %>
	</div>
<br class="clear" />
</div>
