<h2>Reported Posts</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Poster</th>
			<th></th>
			<th></th>
			<th></th>
    </tr>
  </thead>
  <tbody>
	<% @orig_posts.each do |post|  %>
    <tr>
		<% if post.class.eql? Comment %>
      <td><%= post.body %></td>
      <td><%= post.user.display_name %></td>
			<td><%= link_to 'Show', news_comment_path(post.news, post) %></td>
			<td><%= link_to 'Edit', edit_news_comment_path(post.news, post) %></td>
			<td><%= link_to 'Delete', news_comment_path(post.news, post),:method => :delete, :confirm => "Really delete this?" %></td>
		<% else %>
		  <td><%= post.title %></td>
      <td><%= post.user.display_name %></td>
			<td><%= link_to 'Show', polymorphic_path(post) %></td>
			<td><%= link_to 'Edit', edit_polymorphic_path(post) %></td>
			<td><%= link_to 'Delete', polymorphic_path(post),:method => :delete, :confirm => "Really delete this?" %></td>
		<% end %>
    </tr>
	<% end %>
  </tbody>
</table>

<%= paginate @reports %>