<h2>Modify your Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

	<div class="control-group">
    <%= f.label :current_password, :class => 'control-label' %>
		<div class="controls">
    	<%= f.password_field :current_password, :class => 'input-xlarge' %>
			<span class="help-inline">Required to make changes.</span>
		</div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
		<div class="controls">
    	<%= f.email_field :email, :class => 'input-xlarge', :value => current_user.email %>
		</div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
		<div class="controls">
    	<%= f.password_field :password, :class => 'input-xlarge' %>
			<span class="help-inline">Leave blank if you don't want to change.</span>
		</div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
		<div class="controls">
    	<%= f.password_field :password_confirmation, :class => 'input-xlarge' %>
			<span class="help-inline"></span>
		</div>
  </div>

	<div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :first_name, :class => 'input-xlarge', :value => current_user.first_name %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :last_name, :class => 'input-xlarge', :value => current_user.last_name %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :display_name, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :display_name, :class => 'input-xlarge', :value => current_user.display_name %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label "Default Location", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :location, :class => 'input-xlarge', :value => current_user.location %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :bio, "A short bio about yourself. (140 characters max!)", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :bio, :class => 'input-xlarge', :value => current_user.bio %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :twitter_link, "Twitter Handle", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :twitter_link, :class => 'input-xlarge', :value => current_user.twitter_link %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :facebook_link, "Link to your Facebook.", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :facebook_link, :class => 'input-xlarge', :value => current_user.facebook_link %>
			<p class="help-block">Just enter your facebook ID and we will link it!</p>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :website, "Website", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :url, :class => 'input-xlarge', :value => current_user.url %>
		</div>
  </div>
	<div class="control-group">
		<label class="control-label" for="place_photo">Upload a profile picture: </label>
		<div class="controls">
			<%= f.file_field :avatar %>
		</div>
  </div>

  <div><%= f.submit "Update" %></div>
<% end %>

<%= link_to "Back", :back %>
