<h2>Sign up</h2>
<br>
	<div style="border-bottom:1px dashed black;">
		<h4>Really Quickly:</h4><br>
		<%= link_to "Sign Up With Facebook", '/auth/facebook', :class => 'btn btn-info' %>
		<br><br>
	</div>	
	<br><br>
	<h4>OR Create an Account here:</h4>
	<br><br>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
		<div class="controls">
    	<%= f.email_field :email, :class => 'input-xlarge' %>
			<span class="help-inline">(Required.)</span>
		</div>
  </div>
<% if @user.password_required? %>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
		<div class="controls">
    	<%= f.password_field :password, :class => 'input-xlarge' %>
			<span class="help-inline">(Required.)</span>

		</div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
		<div class="controls">
    	<%= f.password_field :password_confirmation, :class => 'input-xlarge' %>
			<span class="help-inline">(Required.)</span>
		</div>
  </div>
<% end %>

	<div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :first_name, :class => 'input-xlarge' %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :last_name, :class => 'input-xlarge' %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :display_name, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :display_name, :class => 'input-xlarge' %>
			<span class="help-inline">This is the name we will show when you post.</span>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :bio, "A short bio about yourself. (140 characters max!)", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :bio, :class => 'input-xlarge' %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label :twitter_link, "Twitter Handle", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :twitter_link, :class => 'input-xlarge' %>
		</div>
  </div>

<% if session[:omniauth] && session[:omniauth]['provider'] == 'facebook' %>
	<%= f.hidden_field :facebook_link, :value => session[:omniauth]['uid'] %>
<% else %>	
	<div class="control-group">
    <%= f.label :facebook_link, "Link to your Facebook.", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :facebook_link, :class => 'input-xlarge' %>
			<p class="help-block">Just enter your facebook ID (a number like 1232443455 or your unique name) and we will link it!</p>
		</div>
  </div>
<% end %>


	<div class="control-group">
		<label class="control-label" for="place_photo">Upload a profile picture: </label>
		<div class="controls">
			<%= f.file_field :avatar %>
		</div>
  </div>
	<div class="control-group">
    <%= f.label "Default Location", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :location, :class => 'input-xlarge' %>
			<span class="help-inline">So we can show you relevant posts.</span>
		</div>
  </div>
	<div class="control-group">
    <%= f.label "Website", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :url, :class => 'input-xlarge' %>
			<span class="help-inline">Do you have a website? Share it on your profile.</span>
		</div>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
