<% collection = klass.name.pluralize %>
<%= render 'shared/gmaps_helper', :location => location, :json => json, :klass => klass %>

<div class="row">
<%= render 'shared/top3', :object => top_national %>
</div>

<div class="row">
	<div class="span2 category-list pull-left">
		<h3 class="list-title">Categories</h3>
		<%= render :partial => 'shared/category_helper', :locals =>  {:objs => all_items } %>
	</div>
	<div class="span2 city-list">
		<h3 class="list-title">Cities</h3>
		<div id="nearby-cities">
			<h4>Top Cities Nearby</h4>
			<ul>
				<% nearby_cities.each do |city| %>
				<li><%= link_to "#{city.city}, #{city.state} (#{city.c})", location_path("#{city.city},#{city.state}") %></li>
				<% end %>
			</ul>
			<a id="show-state">Show All Cities in State</a>
		</div>
		<div id="all-cities">												 
		<% # dirty little bit to sum the cities inline %>
			<h4>All Cities in <%= location[:state] %> (<%= state_items.inject(0) {|sum, city| sum + city.c} %>)</h4>
			<ul>
				<% state_items.each do |city| %>
				<li><%= link_to "#{city.city} (#{city.c})", location_path("#{city.city},#{city.state}") %></li>
				<% end %>
			</ul>
			<a id="show-nearby">Show Nearby Cities</a>
		</div>
		
	</div>

	<div class="span4">
		<h3 class="list-title" style="display:inline-block;"><%= collection %></h3>
		<%= render items %>
		<br style="clear: both;" />
		<%= paginate items %>
	</div>

</div>