<% collection = klass.name.pluralize %>
<form class="form-inline" action="<%= polymorphic_path(klass) %>">
	<input type="text" class="input-medium search-query" placeholder="<%= location[:string] %>" name="location" />
	<input type="submit" value="Search" />
	<%= link_to "Add a New #{klass.name.humanize}", new_polymorphic_path(klass), :class => "btn btn-primary"%>
	<a href="<%= polymorphic_url(klass, :action => 'popular') %>" class="btn btn-success">Hall of Fame</a>
	<a href="<%= polymorphic_url(klass, :action => 'unsafe') %>"class="btn btn-warning">
		Unsafe <%= collection %></a>
</form>

<%= gmaps({:map_options => {
						 :center_latitude => location[:ll][0], :center_longitude => location[:ll][1], :auto_zoom => false, :zoom => 12
					 },
					"markers" => { "data" => json, "options" => { "clusterer_maxZoom" => 1 } }

}) %>
