<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
	  <div class="item active">
	    <%= image_tag "rainbowmedia1.png"%>
	  </div>
	  <div class="item">
	    <%= image_tag "rainbowmedia2.png"%>
	  </div>
	  <div class="item">
	    <%= image_tag "rainbowmedia3.png"%>
	  </div>
	<div class="item">
	    <%= image_tag "rainbowmedia4.png"%>
	  </div>
	<div class="item">
	    <%= image_tag "rainbowmedia5.png"%>
	</div>
  </div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>