<div class="span2 well">
		<span class="author"><strong>Posted by:</strong> 
		<% if obj.user.titles_count == 1 %>
				<br>
				<% label_type = label_type_helper(obj.user) %>
				<% title = title_name_helper(obj.user) %>
				<%= link_to user_path(obj.user) do %>
					<span class='<%= label_type %>'><%= title %> <%= obj.user.display_name%> of <%= obj.user.titles.first.city %>, <%= obj.user.titles.first.state %></span> 
				<% end %>	
		<% elsif obj.user.titles.count > 1  %>
			<br>
			<%= link_to user_path(obj.user) do %>
				<span class='label label-multiple'>Grand Marshal <%= obj.user.display_name%></span> 
			<% end %>
			<a href="#" class="label label-multiple" rel="popover" title="Grand Marshal <%= obj.user.display_name %>'s Titles"
				data-content="<%= obj.user.titles.each do |t| %> <%= t.name %> of <%= t.city  %>, <%= t.state %> <br>
				<% end %>">Titles</a>
		<% else %>
			<%= link_to obj.user.display_name, user_path(obj.user) %>	
		<% end %>	
		<% if obj.user.stars.any? %> 
			- 
			<%= obj.user.stars_count.to_s %>
			<a href="#" rel="popover" title="New Feature: Stars and Titles" data-content="Whenever you create a place, leader or event on Rainbow Chronicle, you get two stars, and any time you add a rating you are awarded 1 star. <br><br>Titles are earned by having rated or created the most places, leaders or events in any given city. First place in any city is titled the 'Marshal', second place is the 'Sheriff' and third place is the 'Deputy'. If you have titles in multiple cities, you become a 'Grand Marshal'"><%= image_tag "star.png" %></a>
		<% end %> 
		</span><br />
		<span class="tags"><strong>Category:</strong> 
		<%= raw obj.tags.map {|tag| tag.ancestry_path.map {|t| link_to t, category_path(t, obj) }}.flatten.uniq.join(', ') %>
		</span><br />	
		<% if obj.photo.file? %>
			<%= image_tag obj.photo.url(:medium) %>
		<% end %>
		
		<dl style="word-wrap: break-word;">
			<%= raw display_if_present(obj, show) %>
		</dl>
		<strong>Actions: </strong>
		<%= link_to 'Flag', report_post(obj) %>
		<% if can? [:edit, :destroy], obj %>
			| <%= link_to 'Edit', polymorphic_url(obj, action: :edit) %> | 
			<%= link_to 'Delete', obj, method: :delete, :confirm => 'Are you sure?' %>
		<% end %>
</div>


<div class="span3 static-map">
	<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=300x250&markers=
	icon:#{obj.static_icon}%7C
	#{obj.lat},#{obj.lng}&sensor=false" %>
</div>

<div class="span1" style="text-align:center;width:120px;">
	<div class="colored-icon">
		<%= raw icon_for obj.cached_rating, obj.class.to_s %>
	</div>	<br>
	<span style="font-size:30px;"><%= obj.rating_string %></span> <br>on a scale of -5 to 5
	<br><br><span style="font-weight:bold;">The Verdict:</span><br><br>
	<%= quippy_phrase(obj.rating_string.to_f) %>
</div>