<div class="span4 well">
		<span class="author"><strong>Posted by:</strong> <%= obj.user.display_name %>
		</span><br />
		<span class="tags"><strong>Category:</strong> 
		<%= raw obj.tags.map {|tag| tag.ancestry_path.map {|t| link_to t, category_path(t, obj) }}.flatten.uniq.join(', ') %>
		</span><br />	
		<% if obj.photo.file? %>
			<%= image_tag obj.photo.url(:medium) %>
		<% end %>
		
		<dl>
			<%= raw display_if_present(obj, show) %>
		</dl>
		<% if can? [:edit, :destroy], obj %>
			<strong>Actions: </strong>
			<%= link_to 'Edit', polymorphic_url(obj, action: :edit) %> | 
			<%= link_to 'Delete this post', obj, method: :delete, :confirm => 'Are you sure?' %>
		<% end %>
</div>


<div class="span4 static-map">
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{obj.lat}%2C#{obj.lng}" %>
</div>