<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="left-col span5 pull-left">
		<fieldset>
	  <div class="control-group">
			<label class="control-label" for="event_title">Name</label>
			<div class="controls">
				<input type="text" id="event_title" name="event[title]" value="<%= @event.title %>" class="input-xlarge" />
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="event_phone">Phone Number</label>
			<div class="controls">
				<input type="text" id="event_title" name="event[phone]" value="<%= @event.phone %>" class="input-xlarge" />
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="event_address">Address</label>
			<div class="controls">
				<textarea id="event_address" name="event[address]" class="input-xlarge"><%= @event.address %></textarea>
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="event_website">Website</label>
			<div class="controls">
				<input type="text" id="event_website" name="event[website]" value="<%= @event.website %>" class="input-xlarge" />
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="event_photo">Upload a photo: </label>
			<div class="controls">
				<%= f.file_field :photo %>
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="event_start">Start Date: </label>
			<div class="controls">
				<%= f.date_select :start %>
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="event_photo">End Date: </label>
			<div class="controls">
				<%= f.date_select :end %>
			</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="event_timespan">Timespan</label>
			<div class="controls">
				<input type="text" id="event_timespan" name="event[timespan]" value="<%= @event.timespan %>" class="input-xlarge" />
			</div>
	  </div>
		</fieldset>
	</div>
	<div class="right-col">
		Already Categorized as:<br /> <%= raw @event.tags.map {|tag| tag.ancestry_path.join(' > ')}.join('<br />'.html_safe) %>
		
		<%= render 'shared/categories', :categories => @categories %>
	</div>
	<br class="clear" />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
