<!-- BuySellAds Zone Code -->
<div id="bsap_1275847" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
<!-- End BuySellAds Zone Code -->

<p id="notice"><%= notice %></p>

<%= raw show_header @item %>
<%= render :partial => 'shared/show_info', :locals => {:obj => @item, :show => [:phone, :website, :address, :start, :end, :timespan]} %>

<%= render :partial => 'shared/rating_form', :locals => {:obj => @item, :rating => @rating, :rating_questions => @rating_questions}%>

<div class="show-ratings span7">
	<h3>Ratings (<%= @item.rating_string %> overall)</h2>
	<%= render :partial => 'ratings/rating', :collection => @ratings %>
</div>

<% if session[:reviewalert] %>
	
	<div class="modal hide" id="myModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Great Job So Far!</h3>
	  </div>
	  <div class="modal-body">
	    <p>Now that you've created an Event, don't forget to add a rating using the sliders below the map!</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-info" data-dismiss="modal">Got It</a>
	  </div>
	</div>
	
	<% session.delete(:reviewalert) %>
	<script>
		$('#myModal').modal('show');
	</script>
<% end %>
