<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span5">
		<%= render @event %>
		<%= render @event.ratings %>
		<%= link_to "Add rating", new_event_event_rating_path(@event, @event_rating)  %>
	</div>
	<div class="span4">
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.lat}%2C#{@event.lng}" %>
	</div>
	
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
