<%= form_for(@news, :html => {:class => "form-horizontal" }) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :title, :class => 'input-xlarge span5' %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :link, :class => 'input-xlarge span5' %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %><br />
		<div class="controls">
    	<%= f.text_area :body, :class => 'input-xlarge span5' %>
		</div>
  </div>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
