<%= form_for(@news, :html => {:class => "form-horizontal" }) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :title, :class => 'input-xlarge span5' %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :link, :class => 'input-xlarge span5' %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %><br />
		<div class="controls">
    	<%= f.text_area :body, :class => 'input-xlarge span5' %>
		</div>
  </div>
	<% if current_user.admin? %>
	<div class="control-group">
		<label class="control-label">Display as Founders Post?</label>
		<div class="controls">
    	<label class="radio inline">
				<input type="radio" id="news_founders_post_true" name="founders_post" value="true" >
				Yes
			</label>
			<label class="radio inline">
				<input type="radio" id="news_founders_post_false" name="founders_post" value="false" checked>
				No
			</label>
		</div>
  </div>
	<% end %>
	<div class="control-group">
		<label class="control-label">Post Type</label>
		<div class="controls">
    	<label class="radio inline">
				<input type="radio" id="photo1" name="news[photo]" value="rc-news" checked>
				News<br />
				<img src="/images/rc-news.png" />
			</label>
			<label class="radio inline">
				<input type="radio" id="photo2" name="news[photo]" value="rc-opinion">
				Opinion<br />
				<img src="/images/rc-opinion.png" />
			</label>
			<label class="radio inline">
				<input type="radio" id="photo3" name="news[photo]" value="rc-image" >
				Image<br />
				<img src="/images/rc-image.png" />
			</label>
			<label class="radio inline">
				<input type="radio" id="photo4" name="news[photo]" value="rc-video" >
				Video<br />
				<img src="/images/rc-video.png" />
			</label>
			<label class="radio inline">
				<input type="radio" id="photo5" name="news[photo]" value="rc-nsfw" >
				NSFW<br />
				<img src="/images/rc-nsfw.png" />
			</label>
		</div>
  </div>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
