<div class=" news-item">
	<h3><%= link_to raw(news.title), news %></h3>
	<p class="author">By <strong><%= link_to news.user.display_name, user_path(news.user) %></strong> at <%= news.timestamp %></p>
		<%= image_tag news.image %>
	<blockquote>
		<%= strip_tags news.body %>
	</blockquote>
	<span style="text-align:right; float: right; clear: both;"><%= link_to 'Read More', news %> | <%= pluralize news.comment_count, 'Comment' %></span>
	<br class="clear" />
</div>
<% @i += 1 %>
<% if @i == 4 %>
	<!-- BuySellAds Zone Code -->
	<div id="bsap_1275847" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
	<!-- End BuySellAds Zone Code -->
<% end %>	