<div class="span8 news-item">
	<h3><%= link_to raw(news.title), news %></h3>
	<p class="author">By <strong><%= news.user.display_name %></strong> at <%= news.timestamp %>
		<%= image_tag news.image %>
	<blockquote>
		<%= strip_tags news.body %>
	</blockquote>
	<span style="text-align:right; float: right; clear: both;"><%= link_to 'Read More', news %> | <%= pluralize news.comment_count, 'Comment' %></span>
</div>