<%= render 'filter' %>
<% unless @fp.nil? %>
<div class="news-item founders-post">
	<div class="inner">
		<h2>Founder's Post</h2><span class="author">By <strong><%= @fp.user.display_name %></strong> at <%= @fp.timestamp %></span>
	
		<h3><%= link_to @fp.title, @fp %></h3>
		<blockquote>
			<%= @fp.body %>
		</blockquote>
		<span style="text-align:right; float: right; clear: both;"><%= link_to 'Read More', @fp %> | <%= pluralize @fp.comment_count, 'Comment' %></span>
		<br class="clear" />
	</div>
</div>
<% end %>
<% @i=0 %>
<%= render @news %>

<%= paginate @news %>

