<%= render 'filter' %>
<% unless @fp.nil? %>
<div class="news-item founders-post">
	<div class="inner">
		<h2>Founder's Post</h2><span class="author">By <strong><%= @fp.user.display_name %></strong> at <%= @fp.timestamp %></span>
	
		<h3><%= link_to @fp.title, @fp %></h3>
		<blockquote>
			<%= @fp.body %>
		</blockquote>
		<span style="text-align:right; float: right; clear: both;"><%= link_to 'Read More', @fp %> | <%= pluralize @fp.comment_count, 'Comment' %></span>
		<br class="clear" />
	</div>
</div>
<% end %>
<%= render @news[0..4] %>

<div class="span6">
<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9217859865934808";
		/* Banner1 */
		google_ad_slot = "5335419252";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<br class="clear" />

<%= render @news[5..10] %>

<%= paginate @news %>
