<%= raw show_header @news %>

<% if @news.link %>
<%= link_to "#{@news.link}", @news.link %><br />
<% end %>

Posted by: <strong><%= @news.user.display_name %></strong><br />
<blockquote>
	<%= raw @news.body %>
</blockquote>

<h3>Comments</h3>
	<% if @comments.empty? %>
<p>No comments yet! Add the first!</p>
<% else %> 
	<%= render @comments %>
<% end %>

<h3>Add a comment</h3>
<% if user_signed_in? %>
	<%= render :partial => 'comments/new', :locals => {news: @news, comment: @comment} %>
<% else %>
  <p>You must be <%= link_to 'logged in', new_user_session_path %> to do this! 
	Don't have an account? <%= link_to 'Sign up!', new_user_registration_path %>
<% end %>

<br />

<%= link_to 'Back to news', news_index_path %>
