<div class="show-header">
	<h2 class="date-created"><%= @news.ts %></h2>
	<h2 class="show-name"><%= @news.title %></h2>
	<br style="clear: both;" />
</div>
<% if @news.link %>
	<span><%= link_to "View Linked Story", @news.link %></span><br />
<% end %>
<small>Posted by: <%= @news.user.display_name %></small>
<blockquote>
	<%= @news.body %>
</blockquote>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
