<p id="notice"><%= notice %></p>

<h2><%= @news.title %></h2>
<% if @news.link %>
	<span><%= link_to "View Linked Story", @news.link %></span><br />
<% end %>
<small>Posted by: <%= @news.user.display_name %></small>
<blockquote>
	<%= @news.body %>
</blockquote>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
