<div class="single-rating well">
	<p>
		<strong class="user-review-name"><%= rating[:name] %></strong> rated it a <%= raw color_rating(rating[:overall])%> <span class="timestamp"><%= rating[:time] %></span>
	</p>
	<ul class="span9">
	<% rating[:metrics].each do |m| %>
		<li class="span4"><%= raw "<strong>#{m[:key]}:</strong> #{m[:val]}<br />" %></li>
	<% end %>
	</ul>
	
	<% unless rating[:comment].blank? %>
		<p><strong>Comments:</strong> <%= raw rating[:comment] %></p>
	<% end %>
	<br style="clear: both;" />
</div>