<div class="single-rating well">
	<p>
		<strong class="user-review-name"><%= rating[:name] %></strong> rated it a <%= raw color_rating(rating[:overall])%> <span class="timestamp"><%= rating[:time] %></span>
	</p>
	<ul class="span6">
	<% rating[:metrics].each do |m| %>
		<li class="span4"><%= raw "<strong>#{m[:key]}:</strong> #{m[:val]}<br />" %></li>
	<% end %>
	</ul>
	
	<% unless rating[:comment].blank? %>
		<p><strong>Comments:</strong> <%= raw rating[:comment] %></p>
	<% end %>
	
	<% if rating[:photo].file? %>
	<div>
		<p><strong>Photo Attached:</strong></p><%= link_to image_tag(rating[:photo].url(:thumb)), rating[:photo].url  %>
	</div>
	<% end %>
	
	<% if rating[:rating].user.eql? current_user %>
		<%= link_to "Delete your rating?", polymorphic_path([rating[:rating].listing, rating[:rating]]), :method => :delete, :confirm => 'Are you sure?' %>
	<% end %>
	<br style="clear: both;" />
</div>