<div class="row well" style="text-align:center;padding:20px;margin-top:20px;">
	<h1 style="text-align:center;font-weight:normal;font-size:23px;"> Most Rated Cities Nationwide </h1>
	<br><br>
	<div class="span3" >
		<h3>Boston</h3>
		<a href="/places?location=Boston%2C+MA">
			<%= image_tag "pholder.png", :style => "width:300px;height:200px;" %>
		</a>	
	</div>
	<div class="span3">
		<h3>New York</h3>
		<a href="/places?location=New+York%2C+NY">
			<%= image_tag "pholder.png", :style => "width:300px;height:200px;" %>
		</a>	
	</div>
	<div class="span3">
		<h3>Los Angeles</h3>
		<a href="/places?location=Los+Angeles%2C+CA">
			<%= image_tag "pholder.png", :style => "width:300px;height:200px;" %>
		</a>	
	</div>
</div>			

<div class="row" style="text-align:center;" >
	<br><br>
	<form class="form-inline" action="/places">
		<input type="text" class="input-large search-query" id="home-search" placeholder="Search Cities" name="location" />
		<input type="submit" value="Search" class="btn btn-success btn-large"  />
	</form>	
</div>	

<hr>
<h1 style="text-align:center;font-weight:normal;">How it Works</h1>
<br><br>
<div class="row" style="padding-left:60px;font-size:18px;">
	<div class="span2 well" id="hiw-well">
		Know a homophobic business or person?
	</div>	
	<div class="span2 ">
		<%= image_tag "antigay.png" %>
	</div>
	<div class="span2 well" id="hiw-well">
		Write a review and warn others.
	</div>
	<div class="span2">
		<%= image_tag "bad1.png" %>
	</div>
</div>
<br><br>
<div class="row" style="padding-left:60px;font-size:18px;">
	<div class="span2 well" id="hiw-well">
		How about a very gay friendly business or person?
	</div>	
	<div class="span2">
		<%= image_tag "gayheart.png" %>
	</div>
	<div class="span2 well" id="hiw-well">
		Reward them with a good review and help form a roadmap of acceptance.
	</div>
	<div class="span2">
		<%= image_tag "good1.png" %>
	</div>
</div>	
<br><br>
<div class="row" style="padding-left:60px;font-size:18px;">
	<div class="span2" >
		We color code the results on a map.
	</div>	
	<div class="span4">
		<a href="/map">
			<%= image_tag "rmap.png", :style => "width:400px;height:250px;" %>
		</a>	
	</div>
	<div class="span2">
		So you can avoid bigots and frequent the friendly
	</div>
</div>
<div class="row" style="text-align:center;padding-right:60px;">
	<br><br> 
	<%= link_to "Read Reviews and Create Ratings Now", places_path, :class => "btn btn-large btn-success" %>
</div>