<%= render 'shared/gmaps_helper', :location => @location, :json => @json, :klass => @type %>

<div class="row">

	<div class="span8">
		<h3 class="list-title" style="display:inline-block;"><%= raw @path.join(' / ') %></h3>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Last Updated</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |obj| %>
				<tr>
					<td><%= link_to obj.title, obj %><br />
					<%= obj.distance.round(2) %> miles away</td>
					<td><%= obj.updated_at.strftime("%B %d, %Y") %></td>
					<td><%= obj.cached_rating.round(2) %>, <%= pluralize obj.ratings.count, 'vote' %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<br style="clear: both;" />
		<%= paginate @items %>
	</div>

</div>