
<form class="form-inline">
	<input type="text" class="span6 search-query" placeholder="Search by location" />
	<a class="btn btn-large btn-danger pull-right">Hall of Fame</a>
	<a class="btn btn-large btn-danger pull-right">Unsafe Places</a>
</form>
<div style="margin:auto;">
<%= gmaps4rails(@json) %>
</div>
<div class="row">
	<div class="span2 category-list pull-left">
		<h3 class="list-title">Categories</h3>
		<%= render :partial => 'shared/category_helper', :locals =>  {:objs => @all_places } %>
	</div>
	<div class="span2 city-list">
		<h3 class="list-title">Nearby Cities</h3>
		<br />
	</div>

	<div class="span4">
		<h3 class="list-title" style="display:inline-block;">Places <a href="<%= new_place_path %>">(<strong>Add</strong> a new one?)</a></h3>
		<%= render @places %>
		<br style="clear: both;" />
		<%= paginate @places %>
	</div>

</div>