<div style="clear:left">
	<!-- BuySellAds Zone Code -->
	<div id="bsap_1275847" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
	<!-- End BuySellAds Zone Code -->
</div>	

<p id="notice"><%= notice %></p>

<%= raw show_header @place %>
<%= render :partial => 'shared/show_info', :locals => {:obj => @place, :show => [:owner, :phone, :website, :description, :address, :hours]} %>

<%= render :partial => 'shared/rating_form', :locals => {:obj => @place, :rating => @rating, :rating_questions => @rating_questions}, :type => 'place' %>

<div class="show-ratings span7">
	<h3>Ratings (<%= @place.rating_string %> overall)</h2>
	<%= render :partial => 'ratings/rating', :collection => @ratings %>
</div>

<% if session[:reviewalert] %>
	
	<div class="modal hide" id="myModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Great Job So Far!</h3>
	  </div>
	  <div class="modal-body">
	    <p>Now that you've created a Place, don't forget to add a rating using the sliders below the map!</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-primary" data-dismiss="modal">Got It</a>
	  </div>
	</div>
	
	<% session.delete(:reviewalert) %>
	<script>
		$('#myModal').modal('show');
	</script>
<% end %>


