<!-- BuySellAds Zone Code -->
<div id="bsap_1275847" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
<!-- End BuySellAds Zone Code -->

<p id="notice"><%= notice %></p>

<%= raw show_header @place %>
<%= render :partial => 'shared/show_info', :locals => {:obj => @place, :show => [:owner, :phone, :website, :description, :address, :hours]} %>

<%= render :partial => 'shared/rating_form', :locals => {:obj => @place, :rating => @rating, :rating_questions => @rating_questions}%>

<div class="show-ratings span7">
	<h3>Ratings (<%= @place.rating_string %> overall)</h2>
	<%= render :partial => 'ratings/rating', :collection => @ratings %>
</div>


