<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Rainbow Chronicle</title>
	<%= csrf_meta_tags %>

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	<![endif]-->
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28054810-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	<!-- Le styles -->
	<style>
	body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	</style>
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- Le fav and touch icons -->
	<link href="/favicon.ico" rel="shortcut icon">
	<link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
</head>
<body>
	<!-- BuySellAds Ad Code -->
	<script type="text/javascript">
	(function(){
	  var bsa = document.createElement('script');
	     bsa.type = 'text/javascript';
	     bsa.async = true;
	     bsa.src = 'http://s3.buysellads.com/ac/bsa.js';
	  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
	})();
	</script>
	<!-- End BuySellAds Ad Code -->	
	<div class="container">
		<div class="page-header row">
			<h1><span class="rainbow">Rainbow</span> Chronicle</h1>	<span class="slogan">User-Generated ratings of People, Places, and Events according to LGBT Friendliness</span>
			<ul class="nav nav-pills">
				<li id="News"><a href="<%= news_index_path %>">News</a></li>
				<li id="Place"><a href="<%= places_path %>">Places</a></li>
				<li id="Leader"><a href="<%= leaders_path %>">Leaders</a></li>
				<li id="Map"><a href="<%= map_path %>">Rainbow Map</a></li>
				<li id="User" class="dropdown">
					<% unless user_signed_in? %>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Register <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="<%= new_user_registration_path %>">Sign up</a></li>
						<li><a href="<%= new_user_session_path %>">Sign in</a></li>
					</ul>
					<% else %>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Profile <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
					  <li>Logged in as<br /> <strong><%= current_user.email %></strong>.</li>
						<% if current_user.admin? %>
						<li><%= link_to "Admin Panel", admin_path %></li>
						<% end %>
						<li><%= link_to "View Profile", user_path(current_user) %>
						<li><%= link_to "Edit Profile", edit_user_registration_path %>
						<li><%= link_to "Log out?", destroy_user_session_path, :method => :delete %></li>
					</ul>
					<% end %>
				</li>
				<li style="float:right;">
					<%= form_tag("/search", :method => "get", :class => "form-search") do %>
					  <%= text_field_tag 'query', nil, :class => "input-small search-query" %>
					  <%= submit_tag("Search!") %>
					<% end %>
				</li>

			</ul>
		</div> <!-- /header -->
		<div class="row">
			<div class="span7 main-content" style="margin-bottom:50px;">
				<%= yield %>
			</div>
			<div style="display:none;">
			
				<div class="span3 sidebar-nav" onclick="window.location='/hiring';" style="cursor:pointer;margin-bottom:10px;">
					<h2 class="sidebar-title" style="background-color:blue;text-align:center;">Rainbow Chronicle<br>is Hiring</h2>
				</div>	
		
				<div class="span3 sidebar-nav" >
					<h2 class="sidebar-title" style="text-align:center;"><a href="javascript:void(0);" rel="popover" title="New Feature: Leaderboard" data-content="Rainbow Chronicle is holding a competition for adding content to the site. Whoever adds the most content wins an Amazon Kindle. The next three runners-up will win $25 Amazon Gift Cards. The competition will last from now till then." data-placement="top" style="color:white;text-decoration:none;">User Leaderboard</a></h2>
					<% if @rankings.empty? %>
						<br><br><br><br>
					<% else %>	
					<div class="well" style="font-weight:bold;font-size:16px;">				
						<% @rankings.each do |ranker| %>
							 <%= ranker.place %>. <%= ranker.user.display_name %><br>
							 <div style="width:100%;padding-left:15px;">
								<%= ranker.user.stars_count %><a href="javascript:void(0);" rel="popover" title="New Feature: Stars and Titles" data-content="Whenever you create a place, leader or event on Rainbow Chronicle, you get two stars, and any time you add a rating you are awarded 1 star. <br><br>Titles are earned by having rated or created the most places, leaders or events in any given city. First place in any city is titled the 'Marshal', second place is the 'Sheriff' and third place is the 'Deputy'. If you have titles in multiple cities, you become a 'Grand Marshal'"><%= image_tag "star.png" %></a>
								<% unless ranker.user.location.blank? %>
									<br><%= ranker.user.location%>
								<% end %>	
								<br><br>
							  </div>
												
						<% end %>	

					</div>	
					<% end %>	
				</div>
			</div>
			<br><br><br><br>	
			<div class="span3 sidebar-nav" >
					<h2 class="sidebar-title">Recent News</h2>
					<ul class="nav nav-list">
						<% @recent.each do |news| %>
						<li><%= link_to news.title, news %></li>
						<% end %>
					</ul>
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
						fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-like-box" data-href="https://www.facebook.com/pages/Rainbow-Chronicle/297693440261117" data-width="292" data-show-faces="false" data-stream="false" data-header="true"></div>
					
					<div style="float:left;">
					</div>


			</div>
			<div style="float:right;height:600px;clear:right;">
				<br><br>
				<div style="clear:right;"
					<!-- BuySellAds Zone Code -->
					<div id="bsap_1275845" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
					<!-- End BuySellAds Zone Code -->
				</div>	
				<br><br>
				<div style="float:left;">
					<!-- BuySellAds Zone Code -->
					<div id="bsap_1275846" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
					<!-- End BuySellAds Zone Code -->
				</div>	
			</div>
			
			<div style="float:left;">

				<!-- BuySellAds Zone Code -->
				<div id="bsap_1275842" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
				<!-- End BuySellAds Zone Code -->
			</div>	
			<br><br><br>


			<footer>
				<div class="copyright">
						<p>&copy; 2010-2012 The Rainbow Chronicle LLC</p>
						<p>All rights reserved</p>
				</div>
					<div class="foot-links-2">
					<ul class="foot-links-2">
						<li><%= link_to 'About us', '/pages/about' %> |</li>
						<li><%= link_to 'Contact us', '/pages/contact' %> |</li>
						<li><%= link_to 'Advertise', '/pages/advertise' %></li>								
					</ul>
					</div>
					<ul class="foot-links">
						<li><%= link_to 'Terms of Service', '/pages/tos' %> |</li>
						<li><%= link_to 'Privacy Policy', '/pages/privacy' %></li>
					</ul>
			</footer>
		</div> <!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script>document.getElementById("<%= @active %>").className += "active";</script>
		<%= javascript_include_tag "application" %>
		<%= yield :scripts %>

	</body>
	</html>
