<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Rainbow Chronicle</title>
	<%= csrf_meta_tags %>

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	<![endif]-->

	<!-- Le styles -->
	<style>
	body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	</style>
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- Le fav and touch icons -->
	<link href="/favicon.ico" rel="shortcut icon">
	<link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
</head>
<body>
	<div class="container">
		<div class="page-header row">
			<h1><span class="rainbow">Rainbow</span> Chronicle</h1>	<span class="slogan">User-Generated ratings of People, Places, and Events according to LGBT Friendliness</span>
			<ul class="nav nav-pills">
				<li id="News"><a href="<%= news_index_path %>">News</a></li>
				<li id="Place"><a href="<%= places_path %>">Places</a></li>
				<li id="Leader"><a href="<%= leaders_path %>">Leaders</a></li>
				<li id="Event"><a href="<%= events_path %>">Events</a></li>
				<li id="Map"><a href="<%= map_path %>">Rainbow Map</a></li>
				<li id="User" class="dropdown">
					<% unless user_signed_in? %>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Register <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="<%= new_user_registration_path %>">Sign up</a></li>
						<li><a href="<%= new_user_session_path %>">Sign in</a></li>
					</ul>
					<% else %>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Profile <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
					  <li>Logged in as<br /> <strong><%= current_user.email %></strong>.</li>
						<% if current_user.admin? %>
						<li><%= link_to "Admin Panel", admin_path %></li>
						<% end %>
						<li><%= link_to "Edit Profile", edit_user_registration_path %>
						<li><%= link_to "Log out?", destroy_user_session_path, :method => :delete %></li>
					</ul>
					<% end %>
				</li>
				<li style="float:right;">
					<form class="form-search" method="GET" action="/search">
						<input type="text" class="input-medium search-query" name="query" />
						<input type="submit" value="Search!" />
					</form>
				</li>

			</ul>
		</div> <!-- /header -->
		<% unless user_signed_in? %>
		<div class="row span8 alert alert-info">
			  Hi there! We've made some big changes to the site in the past few days, and as a result, if you had an account with us, we'll need you to reset your password <strong><%= link_to 'here', new_user_password_path %></strong>. If you don't have an account, why not <strong><%= link_to 'sign up today', new_user_registration_path %></strong>? Thanks!
		</div>
		<% end %>
		
		<div class="row">
			<div class="span7 main-content">

				<%= yield %>
			</div>
			<div class="span3 sidebar-nav">
					<h2 class="sidebar-title">Recent News</h2>
					<ul class="nav nav-list">
						<% @recent.each do |news| %>
						<li><%= link_to news.title, news %></li>
						<% end %>
					</ul>
					<div style="float:left;"><script type="text/javascript"><!--
					google_ad_client = "ca-pub-9217859865934808";
					/* Skyscraper2 */
					google_ad_slot = "1422038611";

					google_ad_width = 100;
					google_ad_height = 600;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
					</div>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-like-box" data-href="https://www.facebook.com/pages/Rainbow-Chronicle/297693440261117" data-width="160" data-show-faces="true" data-stream="true" data-header="true"></div>
				</div>
			</div>
			<div class="footer-ads offset1">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-9217859865934808";
				/* Footer1 */
				google_ad_slot = "8744223437";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
			<footer>
				<div class="copyright">
						<p>&copy; 2010-2012 The Rainbow Chronicle LLC</p>
						<p>All rights reserved</p>
				</div>
					<ul class="foot-links">
						<li><%= link_to 'Terms of Service', :controller => 'pages', :action => 'tos' %> |</li>
						<li><%= link_to 'Privacy Policy', :controller => 'pages', :action => 'privacy' %></li>
					</ul>
			</footer>
		</div> <!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script>document.getElementById("<%= @active %>").className += "active";</script>
		<%= javascript_include_tag "application" %>
		<%= yield :scripts %>

	</body>
	</html>
